- if current_user
  - if current_user.bars
    %h1="Welkom Barmanager!"
    .lead Hieronder zie je je huidige bars, klik op bar bezoeken om te zien hoe je bar het doet.
    - current_user.bars.each_with_index do |bar, index|
      = render :partial => "bars/dashboard_bar_info", :locals => { :bar => bar, :index => index }
